.new {
  padding: 43px 0 184px;
  &__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    &-right {
      position: absolute;
      right: 0;
      top: 0;
      background: #F1EADC;
      width: 50%;
      padding: 120px 0 50px 54px;
      z-index: -2;
    }
  }
  &__title {
    padding-top: 170px;
    font-weight: 500;
    font-size: 55px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 45px 0 52px;
  }
  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__btn1 {
    width: 67px;
    height: 67px;
    background: rgba(110, 156, 159, 0.1);
    border: none;
    font-size: 28px;
    color: #6E9C9F;
    cursor: pointer;
  }
  &__btn2 {
    width: 243px;
    height: 68px;
    background: #6E9C9F;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }
}

@media (max-width: 1024px) {
  .new {
    &__title {
      font-size: 45px;
    }
  }
}
@media (max-width: 992px) {
  .new {
    &__img {
      width: 100%;
    }
    &__title {
      font-size: 33px;
    }
    &__subtitle {
      font-size: 17px;
    }
  }
}
@media (max-width: 767px) {
  .new {
    &__title {
      font-size: 23px;
      padding-top: 30px;
    }
    &__subtitle {
      font-size: 14px;
    }
    &__btn1{
      width: 55px;
      height: 60px;
    }
    &__btn2{
      width: 180px;
      height: 60px;
    }
  }
}
@media (max-width: 576px) {
  .new {
    padding: 25px 0 80px;
    &__content {
      &-right {
        display: none;
      }
      &-left {
        margin: 0 auto;
      }
    }
  }
}