.idea {
  &__content {
    display: flex;
    column-gap: 94px;
    align-items: center;
  }
  &__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-bottom: 46px;
  }
  &__text {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
  }
}
@media (max-width: 992px) {
  .idea {
    &__inner {
      width: 100%;
    }
    &__inner2 {
      width: 50%;
    }
  }
}
@media (max-width: 767px) {
  .idea {
    &__content {
      flex-direction: column;
      row-gap: 20px;
    }
  }
}

@media (max-width: 576px) {
  .idea__inner2 {
    width: 100%;
  }
}