.contacts {
  padding: 130px 0;
  &__content {
    display: flex;
    column-gap: 111px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    &-title {
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: 0.02em;
    }
    &-link {
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }
}

@media (max-width: 767px) {
  .contacts {
    padding: 50px 0;
  }
}

@media (max-width: 576px) {

  .contacts__content {
    column-gap: 30px;
  }
  .contacts__info-link {
    font-weight: 500;
    font-size: 14px;
  }
}
