.profile {
  padding: 50px 0;
  &__header {
    display: flex; justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  &__btn {
    width: 180px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #191919;

  }
  &__btn2 {
    width: 180px;
    height: 48px;
    background: #FF7010;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #191919;
  }
  &__content {
    width: 850px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 20px;
    &-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      display: flex;
      align-items: center;
      color: #191919;
    }
    &-footer {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #191919;
      column-gap: 12px;
    }
    &-write {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FF7010;
      column-gap: 17px;
    }
  }
  &__change {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &__info {
    display: flex;
    column-gap: 32px;
    &-about {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #191919;
      flex-direction: column;
      row-gap: 5px;
    }
    &-upper {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #A5A5A5;
    }
  }
}