.profile {
  padding: 50px 0;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
  }
  &__btn {
    width: 180px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #191919;
    cursor: pointer;
    &-active {
      background: #6E9C9F;
      color: white;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #191919;
  }
  &__content {
    width: 850px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 20px;
    &-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      display: flex;
      align-items: center;
      color: #191919;
    }
    &-footer {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #191919;
      column-gap: 12px;
    }
    &-write {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #6E9C9F;
      column-gap: 17px;
      cursor: pointer;
    }
  }
  &__change {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &__info {
    display: flex;
    column-gap: 32px;
    &-about {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #191919;
      flex-direction: column;
      row-gap: 5px;
    }
    &-upper {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #A5A5A5;
    }
    &-input {
      background: #FFFFFF;
      border: 1px solid #F0F0F0;
      box-sizing: border-box;
      border-radius: 6px;
      width: 246px;
      height: 48px;
      padding-left: 16px;
      outline: none;
    }
    &-save {
      border-radius: 6px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      width: 246px;
      height: 48px;
      border: none;
      background: #6E9C9F;
    }
  }
  &__crumbs {
    display: flex;
    flex-direction: column;

    &-info {
      align-items: center;
      display: flex;
      column-gap: 13px;
    }
  }
  &__orders {
    &-list {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-image {
      width: 100px;
      height: 100px;
    }
    &-info {
      font-weight: 900;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      align-items: center;
  }
    &-arrow {
      cursor: pointer;
    }
    &-about {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #A5A5A5;
    }
    &-span {
      font-weight: 500;
      font-size: 15px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }
}

@media (max-width: 992px) {
  .profile {
    &__content {
      width: 100%;
    }
    &__info {
      flex-direction: column;
    }
  }
}
@media (max-width: 576px) {
  .profile__orders-item {
    flex-direction: column;
  }
}