@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}


@import "./Layout/Header/header";
@import "./pages/Home/home-new";
@import "./pages/Home/home-collection";
@import "./pages/Home/home-important";