.footer {
  padding: 104px 0 97px;
  background: #F1EADC;
  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    &-tel {
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    &-right {
      display: flex;
      column-gap: 250px;
    }
    &-defense {
      font-weight: 400;
      font-size: 13px;
      line-height: 200%;
      letter-spacing: 0.02em;
      color: #000000;
      margin-top: 20px;
    }
    &-item {
      cursor: pointer;
      font-weight: 400;
      font-size: 13px;
      letter-spacing: 0.02em;
      color: #000000;
      line-height: 220%;
      &:hover, &_active {
        color: #6E9C9F;
        transition: .3s;
      }
    }
    &-left {
      display: flex;
      flex-direction: column;
    }
    &-icons {
      display: flex;
      column-gap: 12px;
    }
    &-icon {
      font-size: 23px;
    }
    &-pay {
      font-size: 40px;
      margin: 25px auto 0;
    }
  }
}
@media (max-width: 1024px) {
  .footer {
    padding: 50px 0 10px;
  }
}
@media (max-width: 992px) {
  .footer {
    padding: 25px;
    &__nav {
      justify-content: space-around;
    }
    &__content {
      justify-content: space-around;
    }
    &__content-right {
      column-gap: 50%;
    }
    &__content-defense {
      margin-top: 0;
    }
  }
  .footer__content-right {
    column-gap: 10%;
  }
}
@media (max-width: 577px) {
  .footer {
    display: none;
  }
}
